.main {  
    background: #d3cadb;  
    height: 365px; 
    width: 260px;  
    position: absolute;  
    z-index: 1000;  
    right: 20px;  
    bottom: 20px;  
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.75);  
    border-radius: 10px;  
}  
.chatName {  
    background: #fff;  
    border: 1px solid #545459;  
    border-radius: 10px; 
    text-align: center;  
    width: 60px;  
    position: fixed;  
    margin-left: 10px;  
    margin-top: 6px;  
}  
.textArea {  
    border: 1px solid #545459;  
    background: transparent;  
    width: 65%;  
    height: 70px;  
    color: #545459;  
    float: left;  
    border-radius: 10px;  
    margin: 6px; 
}  
.sendButton{ 
    width: 25%;  
    border: 1px solid #545459;  
    background: transparent;  
    color: #545459; 
    height: 60px;  
    border-radius: 10px;  
    padding: 10px;  
    bottom: 6px; 
    position: absolute; 
    right: 10px; 
}  
.historyPanel {  
    height: 240px;  
    margin: 6px; 
    margin-top: 30px; 
    background: #fff; 
    border-radius: 14px; 
    overflow-y: scroll;   
}  
.stateButton { 
    width: 26px;  
    height: 26px;  
    float: right;  
} 
.nameRequestTitle {  
    height: 40px; 
    position: fixed;  
    margin-left: 10px;  
    margin-top: 66px;  
}  
.nameRequestInput {
    border: 1px solid #545459;  
    color: #545459;  
    float: left;  
    margin-left: 10px;  
    margin-top: 106px;  
}  
.nameRequestButton {
    width: 25%;  
    border: 1px solid #545459;  
    color: #545459; 
    height: 60px;  
    border-radius: 10px;  
    padding: 10px;  
    position: absolute; 
    margin-left: 10px;  
    margin-top: 90px;  
}  
.chatPositionLeft {  
    left: 20px;  
    bottom: 20px;  
}  
.chatPositionRight {  
    right: 20px;  
    bottom: 20px;  
};